html {
  border: 30px;
  border-color: black solid;
}
body {
  margin: 0px;
  padding: 0px;
}
.header1 {
  background: blue;
  text-align: center;
  line-height: 100%;
  padding: 5%;
  color: azure;
  border: black solid;
  border-radius: 2px;
  border-width: 10px;
}
.menu {
  text-align: auto;
  background: purple;
  color: aliceblue;
  float: left;
  padding-bottom: 8%;
  padding-right: 5%;
  padding-top: 9%;
  padding-left: 6%;
  border: black solid;
  border-radius: 2px;
  border-width: 10px;
  position: relative;
  top: -30px;
  margin-left: auto;
}
.heading {
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
}
.content {
  background: palevioletred;
  margin: auto;
  font-family: cursive;
  border: black solid;
  border-radius: 2px;
  border-width: 10px;
  width: 60%;
  position: relative;
  top: -43px;
  padding-top: -90px;
}
.ad {
  text-align: center;
  background: purple;
  color: aliceblue;
  float: right;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-right: 9%;
  padding-left: 5%;
  border: black solid;
  border-radius: 2px;
  border-width: 10px;
  position: relative;
  top: -402px;
  margin: auto;
}
footer {
  background: blue;
  text-align: center;
  line-height: 100%;
  padding: 5%;
  color: azure;
  border: black solid;
  border-radius: 2px;
  border-width: 10px;
  position: relative;
  bottom: 45px;
}
